body, html {
    position: absolute;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    height: 100%;
    width : 100%; 
    overflow: hidden;
    background:#040404;
    color: white;
    cursor: none;
 }



 .video { 
  position: static;
  margin: -20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: none;
  pointer-events: none ;
  }

  @media (min-width: 801px) {
     #mouse-circle {
  position: relative;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  pointer-events: none;
  background-color: rgb(150, 150, 150);
  left: -20px;
  transition: opacity 0.6s ease-out;
  
}
  }




  .left { 
    
    position: absolute; 
    bottom: 5vh; 
    left: 5vh;
    width: 50%; 
    height: -100%; 
    color: rgb(150, 150, 150);
    font-size: 1.5vh;
    font-family: "source-code-pro", monospace;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    cursor: none;
  }
   

  .right { 
     text-align: right;
    position: absolute; 
    bottom: 5vh; 
    right: 5vh;
    width: 50%; 
    height: -100%; 
    color: rgb(150, 150, 150);
    font-size: 1.5vh;
    font-family: "source-code-pro", monospace;
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
     cursor: none;
  }

  a {
    color:rgb(150, 150, 150);
  }

  a:visited {
    color: rgb(150, 150, 150);
  }


  a:hover {
  color: rgb(221, 89, 45);
  }

  a:link {
  cursor: none;
  }


